html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    position: relative;
    padding: 0 20px;
    margin: 0 auto;
}